@model FilmModel
@{
    ViewBag.Title = "Film";
    Layout = "_Layout";
}

<h2>Film is here</h2>
<video width="100%" height="100%" id="video" controls>
    <source src="/Stream/FilmStream" type="video/mp4" >
    Your browser does not support the video tag.
</video>
<button id="sync" onclick="sync">
    SyncMe
</button>

@section Scripts{
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/film").build();
    
    //Disable send button until connection is established
    var video = document.getElementById("video");
    video.addEventListener("play", function (){
        connection.send("SendStart")    
        console.log("Send start")
    })
    video.addEventListener("pause", function (){
        connection.send("SendPause")    
        console.log("Send pause")
    })
    function sync(){
        connection.send("SendTiming", video.currentTime)   
        console.log("Send timing") 
    }
    
    connection.on("ReceiveFilmTiming", function (timing) {
        video.currentTime = timing
        console.log("Received timing")
    });
    
    connection.on("ReceiveStart", function () {
            video.play();
            console.log("Received play")
        });
    
    connection.on("ReceivePause", function () {
            video.pause();
            console.log("Received pause")
        });
    
    connection.start().then().catch(function (err) {
        return console.error(err.toString());
    });
    
    // document.getElementById("sendButton").addEventListener("click", function (event) {
    //     var user = document.getElementById("userInput").value;
    //     var message = document.getElementById("messageInput").value;
    //     connection.invoke("SendTiming", user, message).catch(function (err) {
    //         return console.error(err.toString());
    //     });
    //     event.preventDefault();
    // });
    </script>
}
